* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 12vh;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
}

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #111;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


#page1 h1 {
    font-size: 8.5vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 8.5vw;
}

#page1 h1 svg {
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    background-color: #0da34e;
}

#page1 p {
    text-align: center;
    margin-top: 3vh;
    font-weight: 400;
    font-size: 1vw;
}

#something {
    display: flex;
    justify-content: center;
    align-items: center;
}

#something h4 {
    font-weight: 400;
    border: 1px solid rgb(92, 91, 91);
    border-radius: 50px;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 12px;
    margin-left: 5px;
    margin-top: 0.5vw;
}

#something h4:nth-child(3) {
    border: none;
    margin: 0px;
}

#nav-bottom {
    position: absolute;
    background-color: #111;
    width: 80%;
    height: 0vh;
    top: 100%;
    /* bottom: 0; */
    border-bottom: 1px solid #dadada;
    z-index: 9;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 {
    margin-bottom: 0.5vw;
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}


nav button {
    background-color: #0da34e;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    border-radius: 50px;
    font-size: 0.85vw;
    font-weight: 800;
    border: none;
    text-transform: uppercase;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#moving-div {
    /* background-color: red; */
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 44%;
    padding: 1.2vw;
    white-space: nowrap;
    overflow: hidden;
}

.move img {
    height: 1.5vw;
    margin-right: 2.4vw;
}

.move {
    display: inline-block;
    animation-name: move;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }

}

#blur-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10%;
    background: linear-gradient(to left, transparent, #111);
    pointer-events: none;
    z-index: 1;
}

#blur-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    background-color: red;
    background: linear-gradient(to right, transparent, #111);
    pointer-events: none;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10.4vw;
    padding-bottom: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #222;
}

.left-div {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
    /* gap: 70vh; */
}

.left-div p {
    width: 100%;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 1vw;
}

.left-div h5 {
    width: 72%;
    font-size: 1vw;
    font-weight: 400;
    margin-bottom: 3vw
}

.right-div {
    height: 100%;
    width: 50%;
    margin-top: 2vw;
    /* position: relative; */
}

.right-elem {
    position: relative;
    padding-bottom: 10vh;
    padding-top: 2vh;
    border-bottom: 1px solid #222;
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
}

.right-div img {
    height: 7vw;
    width: 7vw;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    scale: 0;
    cursor: pointer;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-center {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.3vw;
    margin-bottom: 2vh;
}

.icon i {
    color: #000;
    font-size: 2.2vw;
    cursor: pointer;
}

.page-center h5 {
    font-size: 1vw;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 5px 8px;
    opacity: 0;
    transition: all ease-in 0.5s;
    transform: translateY(5px);
}

.page-center:hover h5 {
    opacity: 1;
    transform: translateY(13px);
}

#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    transition: all 1s ease-out;
    opacity: 0;
    border-radius: 30px;
    z-index: 5000;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 13vh;
    border-top: 1px solid grey;
}

.section {
    width: 100%;
    height: 72vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13vh 10.4vw;
    padding-bottom: 0;
}

.sec-left {
    /* background-color: aqua; */
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
}

.sec-left h2 {
    font-size: 2vw;
    font-weight: 600;
    color: #000;
}

.sec-left p {
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 7vw;
    color: #000;

}

.sec-right {
    height: 100%;
    width: 70%;
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
}

#page5 {
    min-height: 100vh;
    background-color: #111;
    width: 100%;
    position: relative;
    padding: 5vh 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page5 button {
    background-color: #0BA34E;
    padding: 0.9vw 2.5vw;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 15%;
}

#page5-right {
    width: 70%;
}

#page5-right > p {
    font-size: 2.1vw;
}

#page5-right > p span {
    /* background-color: red; */
    width: 15vw;
    display: inline-block;
}

#page5-content {
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    padding: 5vh 0;
}

#page5-content h1 {
    font-size: 3vw;
    font-weight: 500;
}

#page5-content #flex {
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#page5-content #flex h4 {
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;

}

.page5-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    /* padding: 2vh 0; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    padding-top: 3vh;
    padding-bottom: 9vh;
    overflow: hidden;
    border-top: 1px solid #333;
    position: relative;
}

.page5-elem p {
    width: 55%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
}

.page5-elem h3 {
    font-size: 1.6vw;
    font-weight: 400;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.page5-elem i {
    font-size: 1vw;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.over {
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    /* display: none; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page5-elem:hover h3 {
    padding-left: 1vw;

}

.page5-elem:hover i {
    padding-right: 1vw;
}

.page5-elem:hover .over {
    transform: translateY(0);
    /* display: initial; */
    opacity: 1;
}

.page5-elem:hover {
    border-top: 2px solid #fff;
}



summary::marker {
    content: "";
}

.uiux {
    border-top: 1px solid #333;
    padding: 3vh 0;
}

.product {
    padding: 3vh 0;

    border-top: 1px solid #333;
}

#page6 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #111; */
    background-color: #fff;
    padding: 10vh 10vw;
}

#page6 > h1 {
    font-size: 5.5vw;
    color: #000;
    /* background-color: red; */
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
}

#page6-content {
    /* background-color: red; */
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

#page6-content #right-6 {
    width: 70%;
}

#page6-content #right-6 p {
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}

#blue-btn {
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-btn h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
    /* letter-spacing: 1px; */
}

#blue-btn h4 i {
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}

#page6-bottom {
    height: 44vh;
    width: 100%;
    /* background-color: red; */
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgb(48, 48, 48); */
    /* color: #000; */
}

#btm6-part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part2 {
    border-right: 1px solid #dadada;
    width: 28%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part3 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part4 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part5 {

    width: 15%;
    /* background-color: red; */
    height: 100%;
}

.btm6-parts {
    padding: 3vh 0.6vw;
}

.btm6-parts h5 {
    color: #000;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 4vh;
}

.btm6-parts h4 {
    background-color: #111;
    width: 75%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;

}

.btm6-parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}
#btm6-part2 h4:nth-child(2){
    transform: translateX(0);
}
#btm6-part2 h4:nth-child(3){
    transform: translateX(10%);
}
#btm6-part2 h4:nth-child(4){
    transform: translateX(20%);
}
#btm6-part2 h4:nth-child(5){
    transform: translateX(30%);
}
#btm6-part2 h4:nth-child(6){
    transform: translateX(40%);
}
#btm6-part2 h4:nth-child(7){
    transform: translateX(50%);
}

#btm6-part3 h4:nth-child(2){
    transform: translateX(10%);
}

#btm6-part3 h4:nth-child(3){
    transform: translateX(30%);
}

#btm6-part4 h4:nth-child(2){
    transform: translateX(0);
}
#btm6-part4 h4:nth-child(3){
    transform: translateX(20%);
}
#btm6-part4 h4:nth-child(4){
    transform: translateX(40%);
}

#page7 {
    height: 100vh;
    background-color: #111;
}

button:hover{
    cursor: pointer;
}